.input-block {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.input-block label {
  color: #666666;
}

.input-block input {
  margin-top: 5px;
  width: 50%;
  height: 5.6rem;
  background: #ffffff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 1px;
  color: #333333;
}
